@mixin type-title {
	color: var(--theme--foreground-accent);
	font-size: var(--theme--fonts--display--font-size);
	font-weight: var(--theme--fonts--display--font-weight);
	font-family: var(--theme--fonts--display--font-family);
	font-style: normal;
	line-height: 34px;
}

@mixin type-label {
	color: var(--theme--foreground-accent);
	font-size: var(--theme--fonts--sans--font-size);
	font-weight: var(--theme--form--field--label--font-weight);
	font-family: var(--theme--form--field--label--font-family);
	font-style: normal;
	line-height: 19px;
}

@mixin type-text {
	color: var(--theme--foreground);
	font-weight: var(--theme--fonts--sans--font-weight);
	font-size: var(--theme--fonts--sans--font-size);
	font-family: var(--theme--fonts--sans--font-family);
	font-style: normal;
	line-height: 22px;
}

@mixin type-note {
	color: var(--theme--foreground-subdued);
	font-weight: var(--theme--fonts--sans--font-weight);
	font-size: var(--theme--fonts--sans--font-size);
	font-family: var(--theme--fonts--sans--font-family);
	font-style: italic;
	line-height: 18px;
}
